{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nota Certa - Medindo conhecimento, impulsionando potencial</title>
    <link rel="icon" href="{% static 'images/logo2.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Nota Certa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="admin">Central de Provas</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <!-- Adicione a imagem abaixo -->
    <img src="{% static 'images/educa+.png' %}" class="img-fluid mx-auto d-block" style="width: 500px; height: 500px; border-radius: 60px; margin-bottom: 20px;" alt="Seu Logo">
    
    <div class="jumbotron text-center">
        <h1 class="display-4">Bem-vindo ao Nota Certa</h1>
        <p class="lead">Medindo conhecimento, impulsionando potencial</p>
        <hr class="my-4">
        <p>Preparando-se para provas? O Nota Certa está aqui para ajudar você a alcançar seu potencial máximo.</p>
        <a class="btn btn-primary btn-lg" href="login" role="button">Logar</a>
    </div>
</div>

<footer class="bg-dark text-light">
    <div class="container py-3">
        <div class="row">
            <div class="col-md-6">
                <h5>Sobre o Nota Certa</h5>
                <p>O Nota Certa é um projeto dedicado a fornecer avaliações imparciais e objetivas para o ambiente escolar, ajudando alunos a medir seu conhecimento e impulsionar seu potencial.</p>
            </div>
            <div class="col-md-6 text-md-right">
                <p>&copy; 2023 Nota Certa</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
